<!DOCTYPE html>
<html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue html demo</title>
    <script src="./lib/vue.js"></script>
    <script src="./lib/vue-resource.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap.css">
    </head>
    <body>
        <div id="app">
            
            <div class="panel panel-primary">
                  <div class="panel-heading">
                        <h3 class="panel-title">添加书籍</h3>
                  </div>
                  <div class="panel-body form-inline">
                      <label >
                          Name:
                          <input type="text" v-model="name" class="form-control">
                      </label>
                      <label >
                          <input type="button" value="添加" @click="add()" class="btn btn-primary">
                      </label>
                  </div>
            </div>
            
        
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.author}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.description}}</td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">删除</a>
                     </td>
                </tr>
            </tbody>
        </table>
            
        </div>
        <script>
            //如果我们通过全局配置了，请求的数据接口 根域名，则每次单独发起http请求的时候，请求的url路径
            //应该以相对路径开头，前面不能带/，否则不会启用根路径做拼接
            Vue.http.options.root = 'http://127.0.0.1:1337/'
            //全局启用emulateJSON选项
            Vue.http.options.emulateJSON=true;
            var vm = new Vue({
                el: '#app',
                data: {
                    name:'',
                    list:[
                        {id: 1, name: '保时捷',author:'周敏',category:'没所谓',description:'啦啦啦'},
                        {id: 2, name: '宝马', author:'高大哼',category:'憨憨',description:'嘿嘿' }
                    ]

                },
                methods:{
                    // add(){
                    //     this.$http.post('http://127.0.0.1:1337/books/book',{name: this.name},{emulateJSON:true}).then((result) => {
                    //        if(result.status===200){
                    //            this.getAllList();
                    //        }
                    //     }).catch((err) => {
                    //         console.log(err);
                    //         alert('添加失败');
                            
                    //     });
                    // },
                    add(){
                        this.$http.post('books/book',{name: this.name,author:this.name,category:this.name,description:this.name}).then((result) => {
                           if(result.status===200){
                               this.getAllList();
                               //清空name
                               this.name='';
                           }
                        }).catch((err) => {
                            console.log(err);
                            alert('添加失败');
                            
                        });
                    },
                    getAllList(){//获取所有列表
                        this.$http.get('books').then((result) => {
                            //注意，通过$http.获取的数据都在body里面
                            console.log(result);
                            if(result.status===200){
                                this.list= result.body
                            }
                        }).catch((err) => {
                            console.log(err);
                        });
                    },
                    del(id){
                        this.$http.delete('books/book/'+id).then((result) => {
                            console.log(result);
                           if(result.status===200) {

                               this.getAllList();
                           }
                        }).catch((err) => {
                           console.log(err);
                           alert('删除失败')
                        });

                    }

                },
                created(){
                    this.getAllList();
                }
            });
        </script>
    </body>
</html>